@font-face{
    font-family: "bill";
    src: url(../../Resource/font/Billabong.ttf);
}

#Contenido{
    margin: 2px;
        padding-left: 25%;
}

.caja {
    width: 800px;
    background: #F4ECF7;
    color: black;
    top: 50%;
    left: 30%;
    position: relative;
    transform: translate(-50%,2%);
    box-sizing: border-box;
    padding: 10px 40px;
    font-family: verdana;
   font-size: 21px;
}

h2,h3,h1{
    text-align: center;
    color: #B110E8;
    font-family: "bill";
    font-size: 80px;
}
h3{
    font-size: 15px;
}
label{
    margin: 2px;
    padding: 10px;
    font-weight: normal;
    display:block;
    font-family: "bill";
    font-size: 47px;
}

#opciones{
    display: inline-block;
    font-size: 22px;
    font-family: verdana;
}
input {
    border-color: #B607F2;
}

textArea,select{
    border-color: #B607F2;
    margin-bottom: 30px;
    font-size: 22px;
}
select{
    height: 29px;
    font-size: 22px;
    
}
input[type="radio"],input[type="checkbox"],input[type="file"]{
    margin-bottom: 30px;
    font-size: 22px;  
}

input[type="text"]{
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid    ;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #B607F2;
    border-radius: 4px;
    outline: none;
    height: 40px;
    font-size: 22px;
}
input[type="submit"]{
    width: 100%;
    margin: 30px 0px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    background: #970DC6;
    border-radius: 4px;
    color: white;
    font-size: 22px;
    padding: 10px 5px;
    cursor:pointer;
}
